/* src/App.css */

body {
  font-family: 'Poppins', sans-serif; /* Change the font to Poppins */
  margin: 0;
  padding: 0;
  background-color: #f4f9fb; /* Light blue background */
}

.App {
  text-align: center;
  margin: 20px;
}

.board-container {
  display: flex;
  justify-content: space-around;
}

.board {
  border: 1px solid #bdc3c7;
  border-radius: 12px;
  padding: 16px;
  margin: 10px;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.board:hover {
  background-color: #ecf0f1;
}

h1 {
  color: #34495e;
}

h2 {
  font-size: 18px;
  color: #7f8c8d;
  margin-bottom: 10px;
}

.task-list {
  min-height: 100px;
  padding: 10px;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  border-radius: 8px;
}

.task {
  padding: 12px;
  margin-bottom: 12px;
  background-color: #fff;
  border: 1px solid #bdc3c7;
  border-radius: 8px;
  cursor: grab;
  transition: background-color 0.3s ease-in-out;
}

.task:hover {
  background-color: #ecf0f1;
}

.task-form {
  margin-top: 10px;
}

.task-form input {
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  width: 60%;
}

.task-form button {
  padding: 8px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.task-form button:hover {
  background-color: #2980b9;
}

button {
  margin-top: 10px;
  padding: 12px;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #27ae60;
}
